.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/ben-neale-zpxKdH_xNSI-unsplash.jpg);
    height: 50vh;
    width: 100%;
    background-position: center;
    .search-form {
        display: flex;
        width: 30%;
        height: 10%;
        .input-search{
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }
        .search-logo {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none; /* Prevent double borders */
            cursor: pointer;
        }
        
    }
}